* {
	/* defines width and height of an element : include padding + border + content in element's total width and heigth*/
	box-sizing: border-box;
}

body {
	margin: 0;
	background: white;
	font-family:'Questrial', sans-serif;
}

nav {
	margin: 0;
	color: white;
	background-color: #24292e;	
	z-index: 1;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 14px;
	display: block;
}

nav ul {
	display: flex;
	padding-right: 20px;
	padding-left: 20px;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	/* aligns everything in center on vertical axis*/
	align-items: center;
}

nav ul li {
	font-size: 14px;
	font-weight: 600;
}

#logo {
	fill: currentColor;
	color: #fff;
}

#text {
	/* both margin autos center text in the middle of nav bar */
	margin-left: auto;
	margin-right: auto;
	letter-spacing: .2em;
  word-spacing: .2em
}

#text a:link, a:hover, a:visited, a:active {
	text-decoration: none;
	color: white;
	background-color: transparent;
}

#search_box{
	padding-left: 8px;
	padding-right: 8px;
	line-height: 20px;
	vertical-align: middle;
	width: 300px;
	font-size: 13px;
	min-height: 30px;
	font-weight: normal;
	border: none;
	box-shadow: none;
	border-radius: 3px;
	outline: none;
	/* create space between box and button */
	margin-right: .25em;
	background-color: #313438;

	/* text inputed by user is white */
	color: white;

	/*0 T & B - 1em R & L */
/*	padding: 0 .25em;*/
}

input::placeholder {
  color: #707275;
}

#button_id {
	background-color: white;
	border: none;
	color: black;
	border-radius: .4em;
}

main {
	margin-top: 40px;
	text-align: center;
}

#intro {
	margin-right: 2em;
	margin-left: 2em;
	margin-bottom: 2em;
	font-size: 1.5em;
	text-align: left;
}

a:link#username {
	text-decoration: none;
	color: black;
}

a:visited#username {
	text-decoration: none;
	color: black;
}

a:hover#username {
	text-decoration: none;
	color: black;
}

a:active#username {
	text-decoration: none;
	color: black;
}

#pic {
	width: 25%;
	height: 25%;
	border-radius: 5px;
}

#name {
	margin-bottom: 10px;
	letter-spacing: 4px;
}

#username {
	font-style: normal;
}

#followers {
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 600;
}

#following {
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 600;
}

#f-icon {
	border-radius: 5px;
	margin-bottom: 20px;
}

footer {
	margin: 0;
	color: white;
	background-color: black;

	position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

footer a:link, a:hover, a:visited, a:active {
	text-decoration: none;
	color: white;
}

@media screen and (max-width: 1005px) {

	nav ul {		
		float: none;		
		display: block;		
		text-align: center;		
		width: 100%;	
		height: 100%	
	}		

	nav li {
		padding: .25em 0 .25em 0;
	}

	#text {
		font-size: 1em;
	}

	#search_box{
		border-radius: .2em;
		border: none;
		height: 1.5em;

		/* text inputed by user is white */
		font-size: 1em;
	}

	#button_id {
		font-size: 1em;
		border-radius: .4em;
	}

	#intro {
		font-size: 1.25em;
	}
}


